@-webkit-viewport{ width: device-width; }@-moz-viewport{ width: device-width; }
@-ms-viewport{ width: device-width; }@-o-viewport{ width: device-width; }
@viewport{ width: device-width; }
* { 
			padding:0;	margin:0;	border:none; outline: none;
	-webkit-box-sizing:border-box; -o-box-sizing:border-box;
	   -moz-box-sizing:border-box;	  box-sizing:border-box;
			
	-webkit-font-smoothing: antialiased; -ms-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;  -o-font-smoothing: antialiased;
			font-smoothing: antialiased;
	}
a, li, ul, nav, p, h1, h2 { text-decoration: none;	text-transform: none; font-style: none;	font-variant: none; list-style: none; }
a, p, h1, h2, h3, cite, em, b { font-family: helvetica, arial, sans-serif; font-variant: none;		text-decoration: none; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul, nav ul { list-style: none; } blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0;
	}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000;  font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0;  border-top:1px solid #cccccc; margin:1em 0; padding:0;}
textarea { resize: none; }input, select { vertical-align:middle; 
	}
.nobr { white-space: nowrap; }a.nobr { display: inline-block; }
.para { margin:10px auto; 
	}

._idt 	{ text-indent: -99999px; overflow: hidden; display: block; }
._trs	{ -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
.__btn  { cursor: pointer; display: block; }
.__cais { position: relative; cursor: pointer; 
	}.__cais input, .__cais select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; visibility: hidden;
	}.__cais select { display: none;
	}

	.__cais.--submit input { cursor: pointer; width: 100%; height: 100%; margin: 0; display: block; position: absolute; top: 0; left: 0; z-index: 10;
		}
		.__cais.--submit p { display: block; width: 100%; height: 100%; text-align: center; 
			}


	.__cais.--checkbox label { display: block; position: absolute; top: 0; left: 0; cursor: pointer; 
		}
		.--checkbox._square { width: 20px; height: 20px; background: #000; 
			}.--checkbox._square label { width: 20px; height: 20px;
			}.--checkbox._square label::after { content: ''; width: 9px; height: 5px; position: absolute; top: 4px; left: 4px; 
				border: 3px solid #fcfff4; border-top: none; border-right: none; background: transparent; opacity: 0; 
				-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);
			}.--checkbox._square label:hover::after{ opacity: .4;
			}.--checkbox._square input:checked ~ label::after { opacity: 1;
			}

	.__cais ul.block-agents li { -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
	.__cais.--selected { height: 40px; width: 400px; background: #fff; border: 1px solid; border-color: transparent; }
	.__cais.--selected span.text, ul.block-agents li { padding: 8px 15px; }
	.__cais.--selected span.btn-menu { display: block; width: 100%; height: 100%; }
	.__cais.--selected span.text { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	.__cais.--selected span.icon { width: 20px; height: 10px; background: #666; position: absolute; top: 0; bottom: 0; margin: auto; right: 15px; }
 	.__cais.--selected ul.block-agents { position: absolute; top: 40px; left: 0; width: 100%; height: 0; background: #f4f4f4; overflow: hidden; display: none;
 		}ul.block-agents li { height: 40px; width: 100%; border-bottom: 1px solid transparent; float: left; display: block;
 		}ul.block-agents li.opgr  { text-transform: uppercase; font-weight: 200;
 		}ul.block-agents li:hover { background: #999; }ul.block-agents li.opgr:hover { background: #f4f4f4; }
 		}


._m_top { margin-top: 20px !important; }._m_bot { margin-bottom: 20px !important; }
._clear { clear: both; }._clear:after { content: ""; display: block; clear: both; line-height: 0; visibility: hidden; }
._hide  { display: none !important; visibility: hidden !important; opacity: 0 !important; }
._n_bt  { border-top: none !important; }._n_bl { border-left: none !important; }._n_br { border-right: none !important; }._n_bb { border-bottom: none !important; 
	}
.warp 	 { width: 1100px; height: auto; position: relative; margin: 0 auto; }.warp._f { height: 100%; }
.keyline { margin: 20px auto; height: 0; width: 60%; border-bottom: 1px solid #d8dcdf; }.keyline::before, .keyline::after { content: ' '; display: table; }.keyline::after { clear:both 
	}
._f_screen  { width: 100%; height: 100%; } 
._f_w 		{ width: 100%; 	 }._f_h  		{ height: 100%;  }
.__col.--fl { float: left; 	 }.__col.--fr 	{ float: right;  }
.__col.--bl { border-left: 5px solid transparent; }.__col.--br { border-right: 5px solid transparent; }
.__col.--1 	{ width: 8.33%;  }.__col.--2 	{ width: 16.66%; }
.__col.--3 	{ width: 25%; 	 }.__col.--4 	{ width: 33.33%; }
.__col.--5 	{ width: 41.66%; }.__col.--6 	{ width: 50%;    }
.__col.--7 	{ width: 58.33%; }.__col.--8 	{ width: 66.66%; }
.__col.--9 	{ width: 75%; 	 }.__col.--10 	{ width: 83.33%; }
.__col.--11 { width: 91.66%; }.__col.--12 	{ width: 100%;   
	}